body {
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('img/menu-3206749_1920.jpg');
    height: 1356px;
}

.navbar {
    position: sticky;
    background-color: rgb(30, 30, 29);
    display: block;
    width: 100%;
    margin: 0px auto;
    border: 2px solid rgb(30, 30, 29);
}

.mid li {
    display: inline;
    text-decoration: none;
    color: white;
}

.mid li a {
    margin: 32px;
    padding: 103px;
    text-decoration: none;
    color: navajowhite;
    font-size: 27px;
}

.mid li a:hover {
    color: bisque;
}

.container {
    position: absolute;
    width: 25%;
    height: 687px;
    left: 408px;
    margin: 138px 2px;
    padding: 2px;
    border: 2px solid white;
    border-radius: 42px;
    background-color: rgb(31, 31, 30);
}

.container h1 {
    text-align: center;
}

.container p {
    font-size: 26px;
    text-align: center;
}

.wel p {
    text-align: center;
    font-size: 60px;
    color: navajowhite;
}

.menu {
    position: absolute;
    width: 37%;
    height: 684px;
    right: 152px;
    margin: 377px 2px;
    padding: 2px;
}

.menu h2 {
    color: white;
    text-decoration: none;
    text-align: center;
}

.menu h2 a {
    font-size: 45px;
    color: rgb(168, 136, 5);
    text-decoration: none;
}

.menu h2 a:hover {
    color: white;
}